# Copy this file to 'terraform.tfvars' and fill in your actual AWS resource IDs and passwords

# AWS region to provision resources in
aws_region = "eu-west-2"

# PostgreSQL credentials
db_username = "dbadmin"
db_password = "SuperSecretPassword123!" # Change this to a secure password

# Amazon MQ RabbitMQ credentials
mq_username = "mqadmin"
mq_password = "SuperSecretPassword123!" # Change this to a secure password
